:root
{
    --white: #ffffff;
    --black: #222;
    --pink: #f60091;
    --red: #ff0000;
    --grey: #444;
    --grey1: #555;
    --grey2: #959595;
    --grey-alt: #d1e2e9;
    --yellow: #F9D836;
    --Star_rating: #ecc500;
    --green: #59b210;
}

*, *::before, *::after
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 62.5%;
}

body
{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--black);
    background-color: var(--white);
    height: 100vh;
    z-index: -1;
}

li, ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

a:visited
{
    color: var(--black);
}

img
{
    max-width: 100%;
    max-height: 100%;
}

.container
{
    max-width: 114rem;
    margin: 0 auto;
}

@media only screen and (max-width: 1200px)
{
    .container
    {
        padding: 0 3rem;
    }
}

@media only screen and (max-width: 768px)
{
    .container
    {
        padding: 0 5rem;
    }
}



/*-------------------
Navigation
-------------------*/
/* .header
{
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 999999;
} */

.navigation 
{
    padding: 1.6rem 0;
}

.navigation .nav-center
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation.fix-nav
{
    position: sticky;
    top: 0;
    /* left: 0; */
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 99999;
}

.navigation .logo
{
    font-size: 2rem;
    color: var(--black);
    padding: 0 0.5rem;
    border: 2px solid var(--black);
}

.navigation .logo span
{
    color: var(--yellow);
}

.navigation .nav-top
{
    display: none;
}

.navigation .nav-list
{
    display: flex;
    align-items: center;
}

.navigation .nav-item:not(:last-child)
{
    margin-right: 0.5rem;
}

.navigation .nav-item
{
    padding: 0 1rem;
}

.navigation .nav-link
{
    position: relative;
    display: inline-block;
    padding: 0.5rem 0 0.2rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.navigation .nav-link::after
{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 90%;
    left: 0;
    background-color: var(--yellow);
    transition: transform 0.5s;
    transform: scale(0);
}

.navigation .nav-link:hover::after
{
    transform: scale(1);
    transform-origin: middle center;
}

.navigation .nav-icons span:not(:last-child)
{
    margin-right: 0.5rem;
}

.navigation .nav-icons span
{
    font-size: 1.6rem;
    border-radius: 50%;
    border: 1px solid var(--grey);
    padding: 0.3rem 0.7rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.navigation .nav-icons span:hover
{
    background-color: var(--yellow);
}

.navigation .hamburger
{
    display: none;
}

@media only screen and (max-width: 940px)
{
    .navigation .nav-item:not(:last-child)
    {
        margin-right: 0.3rem;
    }

    /* .navigation .logo
    {
        font-size: 1.8rem;
    } */

    .navigation .nav-item
    {
        padding: 0 0.5rem;
    }

    .navigation .nav-link
    {
        font-size: 1.4rem;
    }

    .navigation .nav-icons span
    {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 768px)
{
    .navigation.show
    {
        background-color: rgba(0, 0, 0, 0.6);
    }

    .navigation .nav-menu
    {
        position: fixed;
        top: 0;
        left: -100%;
        width: 80%;
        height: 100vh;
        z-index: 9999;
        background-color: var(--white);
        transition: all 0.5s linear;
    }

    .navigation .nav-menu.show
    {
        left: 0;
    }

    .navigation .nav-list
    {
        flex-direction: column;
        align-items: start;
        padding: 2rem 0;
    }

    .navigation .nav-top
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--yellow);
        padding: 1.6rem 2rem;
    }

    .navigation .nav-top .logo h1
    {
        font-size: 3rem;
        /* font-weight: 500; */
    }

    .navigation .nav-top .logo span
    {
        color: var(--black);
    }

    .navigation .hamburger
    {
        display: block;
        font-size: 2.5rem;
        cursor: pointer;
    }

    .navigation .close
    {
        font-size: 3rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .navigation .close:hover
    {
        transform: scale(1.2) rotate(90deg);
        color: var(--red);
    }

    .navigation .nav-item:not(:last-child)
    {
        margin-bottom: 1rem;
    }

    .navigation .nav-link
    {
        font-size: 1.8rem;
        width: 100%;
        padding: 1rem 2rem;
    }

    .navigation .nav-icons span
    {
        display: none;
        border: none;
        font-size: 1.6rem;
    }

    .navigation .nav-icons span:last-child
    {
        display: block;
    }

    body.show::before
    {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 999;
    }
}



/*-------------------
Hero (Slider)
-------------------*/
.hero, .glide__hero, .banner
{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: var(--grey-alt);
}

.banner img
{
    position: absolute;
    bottom: 0;
}

.banner img.special_01
{
    width: 85rem;
    right: -5%;
}

.banner-content
{
    position: absolute;
    top: 50%;
    transform: translate(25%, -50%);
}

.banner-content span
{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--grey);
    margin-bottom: 1rem;
}

.banner-content h1
{
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.banner-content h3
{
    font-weight: 400;
    color: var(--grey);
    margin-bottom: 2rem;
}

.button-group .btn-1
{
    display: inline-block;
    border: 1px solid var(--black);
    margin: 1rem auto;
    background-color: transparent;
    color: var(--black);
    padding: 1.2rem 3rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
    word-break: break-all;
    cursor: pointer;
    transition: all 0.3s linear;
}

.button-group .btn-1:first-child
{
    background-color: var(--black);
    color: var(--white);
}

.button-group .btn-1:hover
{
    background-color: var(--black);
    color: var(--white);
}

.button-group .btn-1:first-child:hover
{
    background-color: transparent;
    color: var(--black);
}

/* Glide arrows */
.glide__arrow
{
    position: absolute;
    top: 50%;
    background-color: var(--grey1);
    border: 1px solid var(--black);
    outline: none;
    padding: 1.5rem 1.6rem;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--white);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear;
}

.glide__arrow--left
{
    left: 3%;
}

.glide__arrow--right
{
    right: 3%;
}

.glide__arrow:hover
{
    background-color: transparent;
    color: var(--black);
}

/* Glide bullets */
.glide__bullets
{
    position: absolute;
    bottom: 5%;
    left: 50%;
}

.glide__bullets .glide__bullet
{
    cursor: pointer;
    outline: none;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    border: 1px solid var(--black);
}

.glide__bullets .glide__bullet:hover
{
    background-color: var(--black);
}

@media only screen and (max-width: 1200px)
{
    .hero, .glide__hero, .banner
    {
        height: 90vh;
    }

    .banner img.special_01
    {
        width: 60rem;
    }
}

@media only screen and (max-width: 995px)
{
    .hero, .glide__hero, .banner
    {
        height: 90vh;
    }

    .banner-content
    {
        width: 60%;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .banner img.special_01
    {
        left: 50%;
        width: 50rem;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 768px)
{
    .banner-content
    {
        width: 90%;
    }
}

@media only screen and (max-width: 567px)
{
    .hero, .glide__hero, .banner
    {
        height: 95vh;
    }

    .banner-content h1
    {
        font-size: 3rem;    
    }

    .banner-content h3
    {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;    
    }
}



/*-------------------
Category
-------------------*/
.section
{
    padding: 5rem 0;
}

.category .title
{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 3rem; 
}

.category-center
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.category-box
{
    position: relative;
    border-radius: 0.5rem;
    height: 25rem;
    overflow: hidden;
    z-index: 1;
}

.category-box::after
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4) 30%, transparent);
    z-index: 2;
}

.category-box img
{
    height: 27rem;
    width: 100%;
    transition: all 0.5s linear;
}

.category-box:hover img
{
    transform: scale(1.2);
}

.category-box .content
{
    position: absolute;
    top: 30%;
    left: 5%;
    color: var(--white);
    z-index: 3;
}

.category-box .content h2
{
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.category-box .content span
{
    display: block;
    margin-bottom: 1rem;
}











