:root
{
    --white: #ffffff;
    --black: #222;
    --pink: #f60091;
    --red: #ff0000;
    --grey: #444;
    --grey1: #555;
    --grey2: #959595;
    --grey-alt: #d1e2e9;
    --yellow: #F9D836;
    --Star_rating: #ecc500;
    --green: #59b210;
}

*, *::before, *::after
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body
{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--black);
    background-color: var(--white);
    height: 100%;
    z-index: -1;
}

::-webkit-scrollbar
{
    width: 10px;
}

::-webkit-scrollbar-thumb
{
    background: linear-gradient(to top, #181717, var(--grey2));
    border-radius: 6px;
}

li, ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

a:visited
{
    color: var(--black);
}

img
{
    max-width: 100%;
    max-height: 100%;
}

.container
{
    max-width: 110rem;
    margin: auto;
}

@media only screen and (max-width: 1200px)
{
    .container
    {
        padding: 0 3rem;
    }
}

@media only screen and (max-width: 768px)
{
    .container
    {
        padding: 0 5rem;
    }
}



/*-------------------
Navigation
-------------------*/
.navigation 
{
    padding: 1.6rem 0;
}

.navigation .nav-center
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fix-nav
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 999999;
}

.navigation .logo
{
    font-size: 2rem;
    color: var(--black);
    padding: 0 0.5rem;
    border: 2px solid var(--black);
}

.navigation .logo span
{
    color: var(--yellow);
}

.navigation .nav-top
{
    display: none;
}

.navigation .nav-list
{
    display: flex;
    align-items: center;
}

.navigation .nav-item:not(:last-child)
{
    margin-right: 0.5rem;
}

.navigation .nav-item
{
    padding: 0 1rem;
}

.navigation .nav-link
{
    position: relative;
    display: inline-block;
    padding: 0.5rem 0 0.2rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.navigation .nav-link::after
{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 90%;
    left: 0;
    background-color: var(--yellow);
    transition: transform 0.5s;
    transform: scale(0);
}

.navigation .nav-link:hover::after
{
    transform: scale(1);
    transform-origin: middle center;
}

.navigation .nav-icons span:not(:last-child)
{
    margin-right: 0.5rem;
}

.navigation .nav-icons span
{
    position: relative;
    font-size: 1.6rem;
    border-radius: 50%;
    border: 1px solid var(--grey);
    padding: 0.3rem 0.7rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.navigation .nav-icons .numbercart
{
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid var(--black);
    background-color: var(--black);
    color: var(--white);
    font-size: 1.2rem;
    border-radius: 50%;
    transform: translate(400%, -150%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.navigation .nav-icons span:hover
{
    background-color: var(--yellow);
}

.navigation .hamburger
{
    display: none;
}

@media only screen and (max-width: 940px)
{
    .navigation .nav-item:not(:last-child)
    {
        margin-right: 0.3rem;
    }

    .navigation .nav-item
    {
        padding: 0 0.5rem;
    }

    .navigation .nav-link
    {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 768px)
{
    .navigation.show
    {
        background-color: rgba(0, 0, 0, 0.6);
    }

    .navigation .nav-menu
    {
        position: fixed;
        top: 0;
        left: -100%;
        width: 80%;
        height: 100vh;
        z-index: 9999;
        background-color: var(--white);
        transition: all 0.5s linear;
    }

    .navigation .nav-menu.show
    {
        left: 0;
    }

    .navigation .nav-list
    {
        flex-direction: column;
        align-items: start;
        padding: 2rem 0;
    }

    .navigation .nav-top
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--yellow);
        padding: 1.6rem 2rem;
    }

    .navigation .nav-top .logo h1
    {
        font-size: 3rem;
    }

    .navigation .nav-top .logo span
    {
        color: var(--black);
    }

    .navigation .hamburger
    {
        display: block;
        font-size: 2.5rem;
        cursor: pointer;
    }

    .navigation .close
    {
        font-size: 3rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .navigation .close:hover
    {
        transform: scale(1.2) rotate(90deg);
        color: var(--red);
    }

    .navigation .nav-item:not(:last-child)
    {
        margin-bottom: 1rem;
    }

    .navigation .nav-link
    {
        font-size: 1.8rem;
        width: 100%;
        padding: 1rem 2rem;
    }

    /* .navigation .nav-icons span
    {
        display: none;
        border: none;
        font-size: 1.6rem;
    } */

    /* .navigation .nav-icons span:last-child
    {
        display: block;
    } */

    body.show::before
    {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 999;
    }
}

@media only screen and (max-width: 500px)
{
    .navigation .nav-icons
    {
        display: none;
    }

    .navigation .nav-center .logo
    {
        font-size: 1.5rem;
    }
}



/*-------------------
Hero (Slider)
-------------------*/
.hero, .glide__hero, .banner
{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: var(--grey-alt);
}

.banner img
{
    position: absolute;
    bottom: 0;
}

.banner img.special_01
{
    width: 85rem;
    right: -5%;
}

.banner-content
{
    position: absolute;
    top: 50%;
    transform: translate(25%, -50%);
}

.banner-content span
{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--grey);
    margin-bottom: 1rem;
}

.banner-content h1
{
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.banner-content h3
{
    font-weight: 400;
    color: var(--grey);
    margin-bottom: 2rem;
}

.button-group .btn-1
{
    display: inline-block;
    border: 1px solid var(--black);
    margin: 1rem auto;
    background-color: transparent;
    color: var(--black);
    padding: 1.2rem 3rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
    word-break: break-all;
    cursor: pointer;
    transition: all 0.3s linear;
}

.button-group .btn-1:first-child
{
    background-color: var(--black);
    color: var(--white);
}

.button-group .btn-1:hover
{
    background-color: var(--black);
    color: var(--white);
}

.button-group .btn-1:first-child:hover
{
    background-color: transparent;
    color: var(--black);
}

/* Glide arrows */
.glide__arrow
{
    position: absolute;
    top: 50%;
    background-color: var(--grey1);
    border: 1px solid var(--black);
    outline: none;
    padding: 1.5rem 1.6rem;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--white);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear;
}

.glide__arrow--left
{
    left: 3%;
}

.glide__arrow--right
{
    right: 3%;
}

.glide__arrow:hover
{
    background-color: transparent;
    color: var(--black);
}

/* Glide bullets */
.glide__bullets
{
    position: absolute;
    bottom: 5%;
    left: 48%;
}

.glide__bullets .glide__bullet
{
    cursor: pointer;
    outline: none;
    padding: 0.5rem;
    margin-right: 1rem;
    border-radius: 50%;
    border: 1px solid var(--black);
}

.glide__bullets .glide__bullet:hover
{
    background-color: var(--black);
}

@media only screen and (max-width: 1200px)
{
    .hero, .glide__hero, .banner
    {
        height: 90vh;
    }

    .banner img.special_01
    {
        width: 60rem;
    }
}

@media only screen and (max-width: 995px)
{
    .hero, .glide__hero, .banner
    {
        height: 90vh;
    }

    .banner-content
    {
        width: 60%;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .banner img.special_01
    {
        left: 50%;
        width: 50rem;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 768px)
{
    .banner-content
    {
        width: 90%;
    }
}

@media only screen and (max-width: 567px)
{
    .hero, .glide__hero, .banner
    {
        height: 95vh;
    }

    .banner-content h1
    {
        font-size: 3rem;    
    }

    .banner-content h3
    {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;    
    }
}



/*-------------------
Category
-------------------*/
.section
{
    padding: 5rem 0;
}

.category .title
{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 3rem; 
}

.category-center
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.category-box
{
    position: relative;
    border-radius: 0.5rem;
    height: 25rem;
    overflow: hidden;
    z-index: 1;
}

.category-box::after
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4) 30%, transparent);
    z-index: 2;
}

.category-box img
{
    height: 27rem;
    width: 100%;
    transition: all 0.5s linear;
}

.category-box:hover img
{
    transform: scale(1.2);
}

.category-box .content
{
    position: absolute;
    top: 30%;
    left: 5%;
    color: var(--white);
    z-index: 3;
}

.category-box .content h2
{
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.category-box .content span
{
    display: block;
    margin-bottom: 1rem;
}

.category-box .content a
{
    display: inline-block;
    color: var(--white);
    text-transform: uppercase;
    padding: 0.7rem 1.3rem;
    border: 1px solid var(--white);
    transition: all 0.3s linear;
}

.category-box .content a:hover
{
    border: 1px solid var(--black);
    background-color: var(--black);
}

@media only screen and (max-width: 1200px)
{
    .category-box .content h2
    {
        font-size: 2rem;
    }

    .category-box .content span
    {
        font-size: 1.5rem;
    }

    .category-box .content a
    {
        font-size: 1.5rem;
        padding: 0.5rem 1.1rem;
    }
}

@media only screen and (max-width: 995px)
{
    .category-center
    {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px)
{
    .category-box
    {
        height: 20rem;
    }
}

@media only screen and (max-width: 600px)
{
    .category-center
    {
        grid-template-columns: 1fr;
    }

    .category-box
    {
        max-width: 35rem;
        margin: 0 auto;
    }

    .category-box .content
    {
        top: 20%; 
    }
}



/*-------------------
Sort Products
-------------------*/
.title-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    margin-bottom: 2rem;
    background-color: var(--grey-alt);
}

.section-titles:not(:last-child)
{
    margin-right: 5rem;
}

.section-title
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.section-title .primary-title
{
    font-size: 1.8rem;
    font-weight: inherit;
    padding-left: 0.5rem;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

.section-title:hover .primary-title, .section-title:hover span.dot, .section-title:hover span.dot::before
{
    opacity: 1;
}

.section-title span.dot
{
    position: relative;
    opacity: 0.5;
    padding: 0.45rem;
    border: 1px solid var(--black);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.section-title span.dot::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--black);
    border: 1px solid var(--black);
    margin: 0.1rem;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

.section-title.active span.dot, .section-title.active span.dot::before, .section-title.active .primary-title
{
    opacity: 1;
}

@media only screen and (max-width: 567px) 
{
    .title-container
    {
        flex-direction: column;
    }

    .section-titles:not(:last-child)
    {
        margin: 0 0 1.3rem;
    }
}



/*-------------------
Product Center
-------------------*/
.product-center
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-items: center;
}

.product-center .product-box
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    border-radius: 5px;
    /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
    box-shadow: 0px 0px 5px 1px rgb(0, 0, 0, 0.1);
    padding: 1rem;
}

.product-header
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-footer h3
{
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--grey);
}

.product-price h4
{
    font-weight: 500;
}

.product-box ul
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    width: 17rem;
    height: 5rem;
    transform: translate(-50%, -50%) scale(0.7);
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.product-box:hover ul
{
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.product-box:hover ul li i
{
    color: var(--black);
    font-size: 2rem;
}

.product-box:hover ul li:not(:last-child)
{
    margin-right: 1.6rem;
}

.product-box ul li a:link, .product-box ul li a:visited
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow);
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.product-box ul li a:hover
{
    background-color: var(--black);
}

.product-box ul li a:hover i
{
    color: var(--white);
}

.product-box ul li a::before
{
    content: "";
    position: absolute;
    top: -0.6rem;
    left: -0.6rem;
    width: 0;
    height: 0;
    border-top: 3px solid var(--yellow);
    border-left: 3px solid var(--yellow);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
}

.product-box ul li a::after
{
    content: "";
    position: absolute;
    bottom: -0.6rem;
    right: -0.6rem;
    width: 0;
    height: 0;
    border-bottom: 3px solid var(--yellow);
    border-right: 3px solid var(--yellow);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
}

.product-box ul li a:hover:before
{
    width: 120%;
    height: 120%;
    border-top: 3px solid var(--black);
    border-left: 3px solid var(--black);
    opacity: 1;
}

.product-box ul li a:hover:after
{
    width: 120%;
    height: 120%;
    border-bottom: 3px solid var(--black);
    border-right: 3px solid var(--black);
    opacity: 1;
}

@media only screen and (max-width: 1250px)
{
    .product-center
    {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 900px)
{
    .product-center
    {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 630px)
{
    .product-center
    {
        grid-template-columns: repeat(1, 1fr);
    }
}


